* {
    box-sizing: border-box;
}
/* carousel css */

.carousel {
    margin-bottom: 3rem;
}


.carousel-item {
    height:32rem;
    background-color: #777;
}

.carousel-item > img {
    position: absolute;
    top:0;
    left:0;
    min-width: 100%;
    height: 32rem;
}

/* course card */

.courses {
    margin-bottom: 50px;
}

.courses .card-custom {
    margin-bottom: 1.4rem;
    text-align: center;
    background-color: #ddd;
    padding:12px;
}

.card-custom img {
    width: 50%;
}

.courses h2 {
    color:#777;
    font-weight: 700;
}

.courses .card-custom p {
    word-break: break-all;
    text-indent: 40px;
    color:#aaa;
}

/* course info */

.courseInfo-body {
    margin-top:50px;
}

.courseInfo-body p {
    line-height: 1.8em;
    text-align: justify;
    text-indent: 100px;
    word-break: break-all;
    font-size: 1.2rem;
}

.clear-fix {
    margin:50px;
}
/* footer sec */

.footer-sec {
    padding:30px;
}